@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

body {
  font-family: $body-font-family, Serif;
  font-size: $font-size-root;
  color: #6A3C35;
}

p {
  color: inherit;
}
